<div class="container-sm">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 pt-4">
            <div class="container-fluid animate__animated animate__zoomInDown">
                <h1 class="text-center ">Register</h1>
                <p class="text-center animate__animated animate__rubberBand animate__delay-2s">
                    <strong>Already a member?
                        <a href="/login" class="text-secondary">Log In</a>
                    </strong>
                </p>
            </div>
            <form method="POST" action="register" class="needs-validation animate__animated animate__zoomInDown" novalidate>
                <%- include("../layouts/_flash_message") %>
                <%- include("../layouts/data_fields/_username_field") %>
                <%- include("../layouts/data_fields/_firstname_field") %>
                <%- include("../layouts/data_fields/_middlename_field") %>
                <%- include("../layouts/data_fields/_lastname_field") %>
                <%- include("../layouts/data_fields/_gender_field") %>
                <%- include("../layouts/data_fields/_number_field") %>
                <%- include("../layouts/data_fields/_addressLine1_field") %>
                <%- include("../layouts/data_fields/_addressLine2_field") %>
                <%- include("../layouts/data_fields/_city_field") %>
                <%- include("../layouts/data_fields/_stateProvinceRegion_field") %>
                <%- include("../layouts/data_fields/_zipPostalCode_field") %>
                <%- include("../layouts/data_fields/_country_field") %>
                <%- include("../layouts/data_fields/_email_field") %>
                <%- include("../layouts/data_fields/_password_field") %>
                <br>
                <input type="submit" class="btn btn-dark float-end animate__animated animate__rubberBand" value="Register">
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>