<div class="container-sm">
    <div class="row">
        <div class="col-lg-4 pt-1 animate__animated animate__bounceInDown">
            <div class="row">
                <div class="col">
                    <h2>Profile</h2>
                </div>
                <div class="col">
                    <form action="/logout?_method=DELETE" method="POST">
                        <input class="btn btn-dark float-end" type="submit" value="Logout">
                    </form>
                </div>
            </div>
            
            <%- include("../layouts/_flash_message") %> 
            <form method="POST" action="/profile/update" class="needs-validation" novalidate>
                <label class="form-label" for="username">Username:</label>
                <span class="text-secondary float-end"> 
                    <strong>
                        <%= account.username %>
                    </strong>
                </span>
                    <br>
                <label class="form-label" for="email">Email:</label>
                <span class="text-secondary float-end">
                    <strong>
                        <%= account.email %>
                    </strong>
                </span>
                <br>
                <%- include("../layouts/data_fields/_firstname_field") %>
                <%- include("../layouts/data_fields/_middlename_field") %>
                <%- include("../layouts/data_fields/_lastname_field") %>
                <%- include("../layouts/data_fields/_gender_field") %>
                <%- include("../layouts/data_fields/_number_field") %>
                <%- include("../layouts/data_fields/_addressLine1_field") %>
                <%- include("../layouts/data_fields/_addressLine2_field") %>
                <%- include("../layouts/data_fields/_city_field") %>
                <%- include("../layouts/data_fields/_stateProvinceRegion_field") %>
                <%- include("../layouts/data_fields/_zipPostalCode_field") %>
                <%- include("../layouts/data_fields/_country_field") %>
                <%- include("../layouts/data_fields/_newpass_field") %>
                <input type="submit" class="btn btn-dark float-end animate__animated animate__rubberBand" value="Update">
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>