<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A one time request hiring site">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000"> 
    <title>Taskme</title>
    
    <link rel="apple-touch-icon" href="/icons/taskme@4x.png.png">
    <link rel="manifest" href="/manifest.webmanifest"> 
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    
    <!-- Own custonm css -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- initialize service worker -->
    <script src="/js/setup_sw.js"></script>
</head>
<body>
    <!-- change alignments with flex -->
    <div class="container-fluid d-flex flex-column p-0" style="min-height: 100vh">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="navbar-brand animate__animated animate__tada" href="/"><strong>Taskme</strong></a>
            
                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item animate__animated animate__flipInX d-none" id="nav-profile">
                            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <em class="bi bi-person-fill lg-icon"></em> Profile
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                <li><a class="dropdown-item" href="/profile" id="profile-timeline"><em class="bi bi-newspaper"></em> Timeline</a></li>
                                <li><a class="dropdown-item disabled" href="#"><em class="bi bi-person-lines-fill"></em> Contacts</a></li>
                                <li><a class="dropdown-item" href="/chat" id="profile-chat"><em class="bi bi-chat-left-fill"></em> Chat</a></li>
                                <li><a class="dropdown-item disabled" href="#"><em class="bi bi-envelope-fill"></em> Invitation</a></li>
                                <li><a class="dropdown-item disabled" href="#"><em class="bi bi-bell-fill"></em> Notification</a></li>
                                <li>
                                    <form action="/logout?_method=DELETE" method="POST">
                                        <button class="dropdown-item" type="submit"><em class="bi bi-door-open-fill"></em> Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item animate__animated animate__flipInX">
                            <a class="nav-link" href="/public/insights">
                                <em class="bi bi-binoculars-fill lg-icon"></em> Insights
                            </a>
                        </li>
                        <li class="nav-item animate__animated animate__flipInX">
                            <a class="nav-link disabled" href="#">
                                <em class="bi bi-headset lg-icon"></em> Support
                            </a>
                        </li>
                        <li class="nav-item animate__animated animate__flipInX">
                            <a class="nav-link disabled" id="installer" href="javascript:install()">
                                <em class="bi bi-download lg-icon"></em></em> Install
                            </a>
                        </li>
                        <li class="nav-item animate__animated animate__flipInX" id="nav-login">
                            <a class="nav-link" href="/login">
                                <em class="bi bi-door-closed-fill lg-icon"></em> Login
                            </a>
                        </li>
                        <li class="nav-item animate__animated animate__flipInX">
                            <a class="nav-link disabled" href="#">
                                <em class="bi bi-menu-button-wide-fill lg-icon"></em> More
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <% if(locals.auth === true || locals.auth === undefined) { %>
            <%- include("./_hide_nav_login") %>
            <%- include("./_show_nav_profile") %>
        <% } %>
        
        <%- body %>
        
        <%- include('./_footer') %>
        <%- include("./_confirm_modal") %> 
    </div>
    <!-- initialize custom forms -->
    <script src="/js/form.js"></script>
    <!-- initialized dynamic text areas -->
    <script src="/js/textarea.js"></script>
    <script src="/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>