<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <%- include("../layouts/_flash_message") %>
            <form method="POST" action="/job/update?_method=PATCH" class="needs-validation" novalidate>
                <input type="hidden" name="job_id" value="<%= job.id %>">
                <div class="card mb-3 animate__animated animate__pulse">
                    <%- include("../layouts/job/job_fields/_job_field_header") %>
                    <%- include("../layouts/job/job_fields/_job_field_body", { job: job }) %>
                    <div class="card-footer">
                        <button type="submit" class="btn float-end"><em class="bi bi-save lg-icon"></em></button>
                    </div>
                </div>
            </form>
            <%- include("./_job_applications") %>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>