<div class="card mb-3 mt-3  ">
    <div class="card-body">
        <blockquote class="blockquote text-center"><%= application.message %></blockquote>
        <footer class="blockquote-footer text-end">
            @<a href="/profile/view/<%= application.employee %>" class="text-secondary"><%= job.employee %></a>
            (<%= application.time.toUTCString() %>)
        </footer>
    </div>
    
    <div class="card-footer">
        <!-- <form method="POST" action="/job/view/<%= job.id %>"> -->
            <input type="submit" class="btn btn-dark float-end disabled" value="Accept">
        <!-- </form> -->
    </div>
</div>