<div class="card-body">
    <%- include('./_application_status') %> 
    <blockquote class="blockquote" style="white-space: pre-wrap;"><%= application.message %></blockquote>
    <footer class="blockquote-footer text-end ">
        @<a href="/profile/view/<%= application.employee %>" class="text-secondary"><%= application.employee %></a>
        (<%= application.time.toLocaleString() %>)
    </footer>
</div>