<div class="card-body">
    <p><strong>Location: </strong><%= job.location %></p>
    <p><strong>Skills: </strong><%= job.skills %></p>
    <strong>Details: </strong>
    <blockquote class="blockquote text-center"><%= job.details %></blockquote>
    <footer class="blockquote-footer text-end">
        @<a href="/profile/<%= job.employer %>" class="text-secondary"><%= job.employer %></a>
        (<%= job.postDate.toUTCString() %>)
    </footer>
</div>