<div class="card-body">
    <p><strong>Location: </strong><%= job.location %></p>
    <p><strong>Skills: </strong><%= job.skills %></p>
    <strong>Details: </strong>
    <blockquote class="blockquote ps-2" style="white-space: pre-wrap;"><%= job.details %></blockquote>
    <footer class="blockquote-footer text-end">
        @<a href="/profile/view/<%= job.employer %>" class="text-secondary"><%= job.employer %></a>
        (<%= job.postDate.toLocaleString() %>)
    </footer>
    <!-- minimize and exxpand feature -->
</div>